@import './base.css';

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border-color: var(--stroke);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* general resets */
input:focus-visible {
  outline: none;
}

body,
html,
#app {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

/* possible needed for iOS. Who knows... 💀 */
body {
  padding: env(safe-area-inset-top, 16px), env(safe-area-inset-bottom, 40px);
}

.clip-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile {
  border: var(--border);
  border-radius: var(--radius);
}

.letter {
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: var(--xs-spacing);
  background-color: var(--background1);
  overflow: auto;
  box-shadow: 0 2px var(--s-spacing) var(--background2);
  max-width: 55em;
  padding-top: 5em;
}

.letter-container {
  padding: var(--m-spacing);
  height: 100%;
  flex: 1;
}

@media only screen and (max-width: 992px) {
  .letter-container {
    padding: var(--xs-spacing);
    margin-bottom: 5em;
  }
  .letter {
    padding-top: var(--xs-spacing);
  }
}

/* toaster-ts overrides */
#app #toaster-wrapper .toast {
  border-radius: var(--radius);
  background-color: var(--background1);
  border-color: var(--stroke);
  color: var(--text1);
  box-shadow: none;
}

/* editor.js overrides */
.ce-block--selected .ce-block__content {
  background-color: var(--stroke);
  border-radius: var(--radius);
}

.ce-block__content {
  padding: 0 var(--xs-spacing);
}

.codex-editor__redactor {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.codex-editor {
  height: 0;
}

.ce-popover__container {
  background-color: var(--background2);
  color: var(--text1);
  border: var(--border) !important;
}

.cdx-search-field {
  display: none;
  background-color: var(--background1);
}

.ce-popover-item-separator__line {
  background: var(--stroke);
}

.ce-popover-item {
  color: var(--text2);
}
.ce-popover-item:hover {
  background-color: var(--stroke) !important;
}

.ce-toolbar__settings-btn,
.ce-toolbar__plus {
  background-color: var(--stroke);
}

.ce-toolbar__settings-btn:hover,
.ce-toolbar__plus:hover {
  background-color: var(--background2);
}
