@import './base.css';

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  border-color: var(--stroke);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* general resets */
input:focus-visible {
  outline: none;
}

body,
html,
#app {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* possible needed for iOS. Who knows... 💀 */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.clip-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--xs-spacing);
}

.tile {
  border: var(--border);
  border-radius: var(--radius);
}

.letter {
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  max-width: 840px;
  margin: 0 auto;
  padding: var(--xs-spacing);
  background-color: var(--bg-primary);
  overflow: auto;
  box-shadow: 0 2px var(--s-spacing) var(--bg-secondary);
  height: 95%;
}
